.bonjour{
  color: blue;
}
.btn{
  color: blueviolet !important;
  background-color: aqua !important;
}
.NavBg{
  
  background-color: rgb(244, 221, 171);
}
#NavLink{
  color: whitesmoke ;
}
.footer{
  background-color: rgb(244, 221, 171);
  height: 120px;
}
#Footercontainer{
  text-decoration: none !important;
  color: black !important;
}
#AproposBtn:hover{
  background-color: whitesmoke !important;
  color:rgb(244, 221, 171) !important;
  border-color: rgb(244, 221, 171) !important;
}
#AproposBtn{
  background-color:rgb(244, 221, 171) !important;
  color: black !important;
  border-color: rgb(244, 221, 171) !important;
  height: 60px;
  width: 150px;
}
#submitBtn{
  background-color:rgb(244, 221, 171) !important;
  color: black !important;
  border-color: rgb(244, 221, 171) !important;
  height: 40px;
  width: 100px;
  
}
#submitBtn:hover{
  background-color: whitesmoke !important;
  color:black !important;
  border-color: rgb(244, 221, 171) !important;
}
#bgimgdoc{
  background-image: url('../public/assets/bgdoc1.jpg');
  background-repeat: no-repeat !important;
  background-size: cover;
}
#btnContact{
  background-color:rgb(244, 221, 171) !important;
  color: black !important;
  border-color: rgb(244, 221, 171) !important;
  height: 40px;
  width: 100px;
}
#btnContact:hover{
  background-color: whitesmoke !important;
  color:black !important;
  border-color: rgb(244, 221, 171) !important;
}
#conctactBg{
  background-image: url('../public/assets/poly2.jpg');
}